html {
	background-image: url("../images/bats.gif");
	background-repeat: repeat;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	background-color: white;
	border: 2px solid black;
	box-shadow: 0 5px 15px 5px;
	margin: 0 auto;
}

section, aside, h1, h2, h3, ul, p { 
	margin: 0;
	padding: 0;
}

ul {
	margin: .75em 0;
}

section, aside {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

a {
	color: orange;
	font-weight: bold;
}
a:hover, a:focus { color: green; }

p { margin: .5em 0; }

/* header elements */
header {
	border-bottom: 1px solid black;
	padding: 1em 1em 2em;
	background-image: -webkit-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	background-image: -moz-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	background-image: -o-linear-gradient(45deg, white 0%, orange 75%, black 100%);
	background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
}
header h2 {	font-size: 220%; }
header h3 { font-size: 120%; }
header img { 
	float: left;
	margin-right: 1em;
}

/* nav elements */
#main-menu ul {
	list-style: none;
	position: relative;
	margin: 0;
}
#main-menu ul li { float: left; }
#main-menu ul li a {
	display: block;
	text-align: center;
	width: 160px;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: .75em 0;
	font-weight: normal;
}
#main-menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#main-menu ul ul li { float: none; }
#main-menu ul li:hover > ul { display: block;}
#main-menu > ul::after {
	content: "";
	display: block;
	clear: both;
}
#main-menu .current {
	color: orange;
}
#main-menu ul ul li a:hover { background-color: gray; }

#side-menu ul { 
	list-style: none;
	margin-left: 1.5em;
	padding-right: 1.25em;
}
#side-menu ul li {margin-bottom: .5em;}
#side-menu ul li a {
	display: block;
	text-decoration: none;
	color: black;
	background-color: orange;
	border: 2px solid black;
	padding: .5em;
}

/* main elements */
main h1 { 
	font-size: 140%;
	margin-bottom: .5em;
	margin-top: 0;
}

aside {
	float: left;
	width: 160px;
}

section {
	float: right;
	width: 600px;
	padding: 0 20px;
}

/* tables */
table { white-space: nowrap; }
caption { text-align: center;}
th, td {
	padding: .4em 3em .4em .5em;
	text-align: left;
}
th { color: gray; }
table a {
	color: #000;
	font-weight: normal;
}
td:first-child { 
	vertical-align: top;
	font-weight: bold;
}
th:last-child, td:last-child { 
	text-align: right; 
	padding-right: .5em;
}
td:last-child { background-color: #F5DEB3; }

/* footer */
footer {
	font-size: 80%;
	text-align: center;
	border-top: 1px solid black;
	background-image: -webkit-linear-gradient(45deg, black 0%, orange 25%, white 100%);
	background-image: -moz-linear-gradient(45deg, black 0%, orange 25%, white 100%);
	background-image: -o-linear-gradient(45deg, black 0%, orange 25%, white 100%);
	background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
	padding: .7em 0;
	clear: both;
}

